@media all and (max-width: 1500px) {
  .form-container {
    width: 30vw !important;
  }
}

@media all and (max-width: 769px) {
  .form-container {
    width: 50vw !important;
  }
}

@media all and (max-width: 481px) {
  .form-container {
    width: 80vw !important;
  }
}
